#ts{
text-align: center;
background-color: red;
font-size: 30px;
color: white;
border: black 10px;


}
#B12M1{
text-align: center;






}
#con{
text-align: center;
color: blue;






}







































